.layout {
  .page {
    height: 100vh;
    width: 100vw;
    .header {
      color: #fff;
      position: relative;
      padding: 0;
      img {
        height: 60px;
        width: 180px;
        position: absolute;
        left: 0px;
      }
      .user {
        position: absolute;
        right: 2%;

        span + span {
          margin-left: 20px;
          cursor: pointer;
        }
      }
    }
    #components-layout-demo-top-side-2 .logo {
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
    }

    .ant-row-rtl #components-layout-demo-top-side-2 .logo {
      float: right;
      margin: 16px 0 16px 24px;
    }

    .site-layout-background {
      height: 100%;
      width: 100%;
      background: #fff;
    }
  }
}
